$light-gray:		#e0e0e0;
$cream:				#e3ddda;
$sky-blue:			#c3def8;
$dark-blue:			#01549b;
$pink:				#dc639c;
$gray:				#8b8b8b;
$dark-gray:			#3d3d3d;

$border-size:		2px;

$screen-sm-min:	"768px";
$screen-md-min:	"992px";
$screen-lg-min:	"1200px";